<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sui01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sui02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,192}</string>
                <key>textureRect</key>
                <string>{{176,0},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sui03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,192}</string>
                <key>textureRect</key>
                <string>{{352,0},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sui04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,192}</string>
                <key>textureRect</key>
                <string>{{528,0},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sui05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,192}</string>
                <key>textureRect</key>
                <string>{{704,0},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sui.png</string>
            <key>size</key>
            <string>{880,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7891cd01f36e8daed168298df8786d0:ea2322278b7bc1838f1424ced2678db7:9ab0dfc3bbb2138010819be470697cb8$</string>
            <key>textureFileName</key>
            <string>sui.png</string>
        </dict>
    </dict>
</plist>
